$font-color: #000 !default;
$font-alternative-color: #fff !default;
$accent-color: #ee6c4d !default;
$background-color: #be96fa !default;
$background-alternative-color: #e0fbfc !default;
$header-background-color: #fabe96;
$footer-background-color: #96fabe;
