@use 'variables' as * with (
    $background-color: #333,
    $font-color: #fff
);

@use 'typography';





@use 'blockquotes';
@use 'code';

@use 'technology';



@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';
@import 'logo';
@import 'report';
@import 'technology';


body {
    background-color: $background-color;
    padding: 0 10px;
}

* {
    color: $font-color;
}

main {
    background-color: $background-color;
}

.nav a,
.nav-toggle {
    color: $font-color;
}

img {
    filter: grayscale(50%);
}
