/* technology.scss */
.displaypage {
    //display: grid;
    display: flex;
    //flex-direction: row;
    //justify-content: space-between;
}

.sidebar {
    //grid-column: 1 / 2;
    flex: 1;

}

.article-content {
    //grid-column: 2 / 2;
    flex: 6;
}

@media (max-width: 767px) {
    .sidebar {
        display: none;
    }
}
