@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';
@import 'logo';
@import 'report';
@import 'technology';

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Jaro:opsz@6..72&family=Jura:wght@300..700&display=swap');

@use 'variables/_variables' as *;

@use 'typography';
@use 'container';

@use 'header';
@use 'footer';

@use 'blockquotes';
@use 'code';

@use 'technology';
@use 'tables';

@use 'gallery';



body {
    background-color: $background-color;
    padding: 0 10px;
}

.site-header {
    background-color: $header-background-color;
}

.main {
    background-color: $background-color;
}

.footer {
    background-color: $footer-background-color;
}

* {
    color: $font-color;
}
